<app-top-bar></app-top-bar>
<select [(ngModel)]="cat" (ngModelChange)="toCat()">
  <option value="1">Smartphones</option>
  <option value="2">Pc</option>
  <option value="3">TV</option>
  <option value="4">Accessories</option>
</select>
<div class="container" >

  <app-product-list [cat]="cat"></app-product-list>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->